# vscode settings folder
.vscode

# pdfs - usually doesn't play well with git
# added resume.pdf to git for github onlookers, but may not turn out right.
aman_singh_resume.pdf

#output files
resume.aux
resume.fdb_latexmk
resume.fls
resume.log
resume.out
resume.synctex.gz
resume.xdv

#fonts
fonts/

# python update script
# used for copying to other folders in PC when updating resume
update_file.py