# vscode settings folder
.vscode

# pdfs - usually doesn't play well with git
# added resume.pdf to git for github onlookers, but may not turn out right.
aman_singh_resume.pdf
aman_singh_cv.pdf

# output files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.xdv

#fonts
fonts/

# config file - for specifying local filepaths to store resume in
config.json